<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <!-- <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
      </ul> -->
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <!-- <div class="row">
      <div class="col-md-12">
        <ul class="main-nav nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Hot Deals</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </div>
    </div> -->
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Categories</h3>
          <div style="font-size: smaller; margin-bottom: 10px"><%= categories_breadcrumb(@category) %></div>
          <div class="checkbox-filter">
          <% @categories.each do |category| %>
            <div class="input-checkbox">
              <label for="category-1">
                <div id="category_<%= category.id %>"><%= link_to category.name, search_category_path(category_id: category.id), style: params[:category_id] == category.id.to_s ? 'color: #D10024;' : '' %></div>
              </label>
            </div>
          <% end %>
          </div>
        </div>
        <!-- /aside Widget -->
      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <!-- store top filter -->
        <div class="store-filter clearfix">
          <!-- SEARCH BAR -->
          <div>
            <div class="header-search">
              <%= form_with url: search_keyword_path, method: :get %>
                <input class="input" name="keyword" placeholder="Search here" value="<%= params[:keyword] %>">
                <button class="search-btn">Search</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->
        </div>
        <!-- /store top filter -->

        <!-- store products -->
        <div class="row">
          <div class="col-md-4" style="text-align: center;">
            楽天市場
          </div>
          <div class="col-md-4" style="text-align: center;">
            Yahoo!ショッピング
          </div>
          <div class="col-md-4" style="text-align: center;">
            Amazon
          </div>
        <% (0..4).each do |i| %>
          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <a href="<%= @rakuten_items[i]['affiliateUrl'] %>" target="_blank" rel="noopener noreferrer">
              <div class="product">
                <div class="product-img">
                  <%= image_tag @rakuten_items[i].medium_image_urls.first || 'http://placehold.jp/262x262.png' %>
                  <div class="product-label">
                    <% if action_name == 'category' %><span class="new"><%= i + 1 %>位</span><% end %>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category"><%= @rakuten_items[i].genre.name %></p>
                  <h3 class="product-name"><%= @rakuten_items[i]['itemName'] %></h3>
                  <h4 class="product-price"><%= number_to_currency(@rakuten_items[i]['itemPrice'], precision: 0, unit: '') %>円</h4>
                  <div class="product-rating">
                    <i class='fa fa-star'></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- /product -->

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <a href="<%= @yahoo_shopping_items[i].url || @yahoo_shopping_items[i].Url %>" target="_blank" rel="noopener noreferrer">
              <div class="product">
                <div class="product-img">
                  <%= image_tag yahoo_shopping_item_url(@yahoo_shopping_items[i]) || 'http://placehold.jp/262x262.png' %>
                  <div class="product-label">
                    <% if action_name == 'category' %><span class="new"><%= i + 1 %>位</span><% end %>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category"><%= @yahoo_shopping_items[i].genreCategory&.name || @category.name %></p>
                  <h3 class="product-name"><%= @yahoo_shopping_items[i].name %></h3>
                  <h4 class="product-price"><%= number_to_currency(yahoo_shopping_item_price(@yahoo_shopping_items[i]), precision: 0, unit: '').presence || '????' %>円</h4>
                  <div class="product-rating">
                    <i class='fa fa-star'></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- /product -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- product -->
          <div class="col-md-4 col-xs-6">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div class="product">
                <div class="product-img">
                  <%= image_tag 'http://placehold.jp/262x262.png' %>
                  <div class="product-label">
                    <% if action_name == 'category' %><span class="new"><%= i + 1 %>位</span><% end %>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category">&nbsp;</p>
                  <h3 class="product-name">&nbsp;</h3>
                  <h4 class="product-price">&nbsp;</h4>
                  <div class="product-rating">
                    <i class='fa fa-star'></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- /product -->
        <% end %>
        </div>
        <!-- /store products -->

        <!-- store bottom filter -->
        <!-- <div class="store-filter clearfix">
          <span class="store-qty">Showing 20-100 products</span> -->
          <!-- <ul class="store-pagination">
            <li class="active">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul> -->
        <!-- </div> -->
        <!-- /store bottom filter -->
      </div>
      <!-- /STORE -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<!-- <div id="newsletter" class="section"> -->
  <!-- container -->
  <!-- <div class="container"> -->
    <!-- row -->
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- /row -->
  <!-- </div> -->
  <!-- /container -->
<!-- </div> -->
<!-- /NEWSLETTER -->
