<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <%= form_with url: import_admin_categories_path do |f| %>
        <%= f.file_field :file %>
        <%= submit_tag "インポート" %>
      <% end %>
      <%= button_to 'エクスポート', admin_categories_path(format: :csv), method: :get %>
      <div style="display: flex;">
        <% @root_categories.each do |root| %>
          <div>
            <%= form_with url: bulk_update_admin_categories_path, method: :patch do |f| %>
              <table>
                <thead>
                  <tr>
                    <td>カテゴリー名</td>
                    <td>楽天ID</td>
                    <td>ヤフーID</td>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for "categories[]", root do |ff| %>
                    <tr>
                      <td><%= ff.text_field :id, value: root.id, disabled: true %></td>
                      <td><%= ff.text_field :name, value: root.name %></td>
                      <td><%= ff.text_field :rakuten_id, value: root.rakuten_id %></td>
                      <td><%= ff.text_field :yahoo_id, value: root.yahoo_id %></td>
                      <td><%= ff.text_field :ancestry, value: root.ancestry, disabled: true %></td>
                    </tr>
                  <% end %>
                  <tr></tr>
                  <% root.descendants.each do |children| %>
                    <%= f.fields_for "categories[]", children do |ff| %>
                      <tr>
                        <td><%= ff.text_field :id, value: children.id, disabled: true %></td>
                        <td><%= ff.text_field :name, value: children.name %></td>
                        <td><%= ff.text_field :rakuten_id, value: children.rakuten_id %></td>
                        <td><%= ff.text_field :yahoo_id, value: children.yahoo_id %></td>
                        <td><%= ff.text_field :ancestry, value: children.ancestry, disabled: true %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
              <%= f.submit '更新' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
